<!DOCTYPE html>
<html ng-app="bookStore">
<head lang="en">
    <title>The BookStore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <nav class="nav navbar navbar-inverse">
            <h1 class="navbar-text navbar-right">Bookstore</h1>
        </nav>
    </header>
    <div class="row">
    <div class="btn-group-vertical col-sm-2 col-xs-12" ng-controller="menuController">
        <button type="button" class="btn btn-default" ng-click="navigate('/home')"><span class="glyphicon glyphicon-home"></span></button>
        <button type="button" class="btn btn-default" ng-click="navigate('/books')"><span class="glyphicon glyphicon-book"></span></button>
        <button type="button" class="btn btn-default" ng-click="navigate('/authors')"><span class="glyphicon glyphicon-font"></span></button>
        <button type="button" class="btn btn-default" ng-click="navigate('/orders')"><span class="glyphicon glyphicon-tasks"></span></button>
    </div>
    <div class="col-sm-10 col-xs-12" ng-view=""></div>
    </div>

<script src="scripts/angular.js"></script>
<script src="scripts/angular-route.js"></script>
<script src="scripts/jquery-2.1.1.js"></script>
<script src="app/app.js"></script>
<script src="app/services/booksService.js"></script>
<script src="app/controllers/menuController.js"></script>
<script src="app/controllers/homeController.js"></script>
<script src="app/controllers/booksController.js"></script>
<script src="app/controllers/ordersController.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>