<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <form class="navbar-form" role="search">
                    <div class="input-group navbar-left">
                        <h3 class="panel-title">Welcome <strong>{{ username | uppercase }}</strong>!</h3>
                    </div>
                    <div class="input-group navbar-right">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-font"></span></span>
                        <input class="form-control" type="text" placeholder="Search Keyword Here" ng-model="bookFilter.author">
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-hover">
            <thead><tr>
                <div class="col-md-2"><td><strong>Id</strong></td></div>
                <div class="col-md-4"><td><strong>Author</strong></td></div>
                <div class="col-md-4"><td><strong>Book</strong></td></div>
                <div class="col-md-2"><td><strong>Price</strong></td></div>
            </tr></thead>
            <tbody><tr ng-repeat="book in books | filter:bookFilter">
                <td>{{ book.id }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.price | currency }}</td>
            </tr></tbody>
        </table>
    </div>
</div>