<div class="container-fluid vu-container">
    <div class="panel panel-default nav-vu">
        <div class="panel-heading">
            <div class="row">
                <form class="navbar-form" role="search">
                    <div class="input-group navbar-left">
                        <h3 class="panel-title">Welcome <strong>{{ username | uppercase }}</strong>!</h3>
                    </div>
                    <div class="input-group navbar-right">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                        <input class="form-control" type="text" placeholder="Search Keyword Here" ng-model="bookFilter.name">
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-hover">
            <thead><tr>
                <div class="col-md-2"><td><strong>Id</strong></td></div>
                <div class="col-md-4"><td><strong>Book</strong></td></div>
                <div class="col-md-2"><td><strong>Sold</strong></td></div>
                <div class="col-md-4"><td><strong>Revenue</strong></td></div>
            </tr></thead>
            <tbody><tr ng-repeat="order in orders | filter:bookFilter">
                <td>{{ order.id }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.sold }}</td>
                <td>{{ order.price * order.sold | currency }}</td>
            </tr></tbody>
        </table>
    </div>
</div>


